.container { width:900px; margin:0 auto; padding:30px 0; position:relative; }
.container h2{font-weight: bold; text-align: center;}
.container h2:after{content:""; display: block; margin: 8px auto 15px auto; width:30px; height:3px; background:#8a7eb3; }
